<p id="notice"><%= notice %></p>


<h1>
  <%= @class_news.title %>
</h1>

<date>
  <%= @class_news.created_at %>
</date>

<h3>
  <%= @class_news.drop %>
</h3>

<p>
  <%= @class_news.body %>
</p>
---------------------------------------------------------------------
<h2>Comentarios:</h2>
<% @class_news.coments.each do |coment| %>
	<p>
		<b><%= "#{coment.name}:" %></b>
		<%= coment.content %>
	</p>
<% end %>

<div>
	---------------------------------------------------------------------
	<h3>Nuevo comentario</h3>


	<%= form_for @coment, url: {action: "create", :controller=>"coments"} do |f| %>
	
	Nombre: 
	<%= f.text_field :name , :required => true%>
	<p>
		Comentario:
	</p>
  <%= f.text_area :content, :cols => 50, :rows => 4, :required => true %>
  
  <%= f.hidden_field :class_news_id, :value => @class_news.id %>
 
 <%= f.submit "Comentar" %>
 
<% end %>
</div>


<%= link_to 'Back', class_news_index_path %>
